<nb-card>
  <nb-card-header>Datos Personales</nb-card-header>
  <nb-card-body>
    <form aria-labelledby="title">

      <div class="row">
        <div class="col-6">
          <div class="form-control-group">
            <label class="label" for="input-name">Nombre de Usuario:</label>
            <input nbInput [(ngModel)]="user.user_name" #name="ngModel" id="input-name" name="name" autofocus fullWidth
              fieldSize="large" readonly>

          </div>

        </div>
        <div class="col-6">
          <div class="form-control-group">
            <label class="label" for="input-fullname">Nombre Completo:</label>
            <input nbInput [(ngModel)]="user.fullname" #lastName="ngModel" id="input-fullname" name="fullname" autofocus
              fullWidth fieldSize="large" readonly>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="col-4">
          <div class="form-control-group">
            <button nbButton fullWidth status="primary" size="large" (click)="getPhotos()">
              Ver Fotos
            </button>
          </div>
        </div>
        <div class="col-4">
          <div class="form-control-group">
            <button nbButton (click)="showUpload()" fullWidth status="primary" size="large">
              Subir Foto
            </button>
          </div>
        </div>
        <!-- <div class="col-4">
          <div class="form-control-group">
            <button nbButton fullWidth status="primary" size="large" (click)="showAlbum()">
              Editar Albumes
            </button>
          </div>
        </div> -->
      </div>
    </form>
    <br>
    <br>
    <br>
    <nb-card *ngIf="seePhotos">
      <nb-card-header>Fotos</nb-card-header>
      <nb-card-body>
        <div *ngFor="let item of photosArray">
          <nb-card>
            <nb-card-header>
              {{item[0]}}
            </nb-card-header>
            <nb-card-body>
              <div class="row">
                <div class="col-3" style="display: -webkit-inline-box; margin-right: 15%;"
                  *ngFor="let photo of item[1]">
                  <div class="box">
                    <img [src]="bucket + photo.url">
                    <label
                      style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">{{photo.name}}</label>
                    <div>
                      <p>{{photo.tags}}</p>
                    </div>
                    <br>
                    <div>
                      <label
                        style="overflow: hidden; font-family: Verdana, Geneva, Tahoma, sans-serif;">{{photo.caption}}</label>
                    </div>

                  </div>
                  <div style="display: inline-grid">
                    <button nbButton status="danger">
                      <nb-icon icon="trash" (click)="deletePhoto(photo.id_photo)"></nb-icon>
                    </button>
                    <button nbButton status="success">
                      <nb-icon icon="globe" (click)="openTranslate(photo.caption)"></nb-icon>
                    </button>

                  </div>
                </div>

              </div>



            </nb-card-body>
          </nb-card>

        </div>
      </nb-card-body>
    </nb-card>

    <nb-card *ngIf="uploadPhoto">
      <nb-card-header>
        Subir Foto
      </nb-card-header>
      <nb-card-body>
        <form aria-labelledby="title">
          <div class="row">
            <div class="form-control-group">
              <input (change)="onFileSelect($event)" type="file" style="display:none" #fileInput /> <button fullWidth
                nbButton status="success" (click)="fileInput.click()">
                Seleccionar Imagen
              </button>
            </div>
          </div>
          <br>
          <br>
          <div class="row">
            <div class="col-6">
              <div class="form-control-group">
                <label class="label">Nombre:</label>
                <input nbInput [(ngModel)]="photoName" [ngModelOptions]="{standalone: true}"
                  placeholder="Nombre de la Foto" autofocus fullWidth fieldSize="large">

              </div>

            </div>
          </div>
          <br>
          <br>
          <div class="row">
            <div class="col-6">
              <div class="form-control-group">
                <label class="label">Descripcion:</label>
                <input nbInput [(ngModel)]="captionPhoto" [ngModelOptions]="{standalone: true}"
                  placeholder="Descripcion de la Foto" autofocus fullWidth fieldSize="large">

              </div>

            </div>
          </div>
          <br>
          <br>
          <!-- <div class="row">
            <div class="col-6">
              <div class="form-control-group">
                <label class="label">Album:</label>
                <select style="margin-left: 3px;" [(ngModel)]="selectAlbum" [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let item of albumArray" [value]="item.id_album">{{item.album_name}}</option>
                </select>
              </div>
            </div>
          </div> -->


          <br>
          <button nbButton (click)="upload()" fullWidth status="primary" size="large">
            Crear
          </button>
        </form>

      </nb-card-body>
    </nb-card>

    <nb-card *ngIf="seeAlbum">
      <nb-card-header>Opciones Album</nb-card-header>
      <nb-card-body>
        <nb-card>
          <nb-card-header>Crear</nb-card-header>
          <nb-card-body>
            <form aria-labelledby="title">
              <div class="row">
                <div class="col-6">
                  <div class="form-control-group">
                    <label class="label">Nombre:</label>
                    <input nbInput [(ngModel)]="newAlbum.album_name" [ngModelOptions]="{standalone: true}"
                      placeholder="Nombre del Album" autofocus fullWidth fieldSize="large">

                  </div>

                </div>


              </div>
              <br>
              <button nbButton (click)="createAlbum()" fullWidth status="primary" size="large">
                Crear
              </button>
            </form>
          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-header>Eliminar</nb-card-header>
          <nb-card-body>
            <form aria-labelledby="title">
              <div class="row">
                <div class="form-control-group">
                  <select [(ngModel)]="selectAlbum" [ngModelOptions]="{standalone: true}">
                    <option *ngFor="let item of albumArray" [value]="item.id_album">{{item.album_name}}</option>
                  </select>
                </div>
              </div>
              <br>
              <button nbButton (click)="deleteAlbum()" fullWidth status="primary" size="large">
                Eliminar
              </button>
            </form>


          </nb-card-body>
        </nb-card>
      </nb-card-body>
    </nb-card>
  </nb-card-body>
</nb-card>
